---
/**
 * Change Password page
 * Mandatory page for users with requires_password_change flag
 * Also accessible by any authenticated user who wants to change their password
 */

import Layout from "@/layouts/Layout.astro";
import { ChangePasswordForm } from "@/components/ChangePasswordForm";

// Prevent prerendering for this page
export const prerender = false;

// TODO: Add middleware check for requires_password_change flag
// For now, this page is accessible by any authenticated user
---

<Layout title="Zmiana hasła - WireGuard Config Manager">
  <main class="flex min-h-screen items-center justify-center p-4">
    <ChangePasswordForm client:load />
  </main>
</Layout>

